<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.launcher3">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="33" />

    <application
        android:backupAgent=".LauncherBackupAgent"
        android:debuggable="true"
        android:fullBackupContent="@xml/backupscheme"
        android:fullBackupOnly="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher_home"
        android:label="@string/derived_app_name"
        android:largeHeap="@bool/config_largeHeap"
        android:restoreAnyVersion="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name="com.android.launcher3.widget.SurfaceProviderService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.launcher3.surfaceprovider.SURFACE_PROVIDER_SERVICE" />
            </intent-filter>
        </service>
        <!--
        Main launcher activity. When extending only change the name, and keep all the
        attributes and intent filters the same
        -->
        <activity
            android:name="com.android.launcher3.Launcher"
            android:clearTaskOnLaunch="true"
            android:configChanges="keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenSize|screenLayout|smallestScreenSize"
            android:enabled="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="true"
            android:resumeWhilePausing="true"
            android:screenOrientation="unspecified"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustPan"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SHOW_WORK_APPS" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.MONKEY" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.android.launcher3.grid.control"
                android:value="${packageName}.grid_control" />
        </activity>
    </application>

</manifest>